<div class="sectionpage1 w-container">
  <div class="page page1 w-row">
    <div class="column-4 w-col w-col-8">
      <h1 class="centraltext heading">WELCOME TO<br>FOREST GUARDIAN</h1>
      <div class="section"><a href="https://www.facebook.com/Forest-Guardian-819175931453658/" target="_blank" class="w-inline-block"><img src="/assets/facebook.png" width="25" height="25" class="image-3"></a><a href="contact.html" class="w-inline-block"><img src="/assets/email.png" width="25" height="25" class="image-4"></a><a href="https://play.google.com/store/apps/details?id=org.forestguardian&amp;hl=en" target="_blank" class="w-inline-block"><img src="/assets/playstore.png" width="121" class="image-5"></a></div>
      <div class="parrafo">Forest Guardian is a tool created for the detection and location of Forest Fires. Starting with Central America, hoping to cover the whole world. This tool was born as one of the Objectives for risk management form the Climate Change Regional Programm or Pograma Regional de Cambio Climático (PRCC).</div>
      <div class="section"><img src="/assets/USAID-Identity.svg" width="178" class="image_usaid"></div>
    </div>
    <div class="column-2 w-clearfix w-col w-col-4"><img src="/assets/mockup_1.png" class="image"></div>
  </div>
</div>
<div class="sectionpage2 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-7">
      <h1 class="centraltext heading section_two">CHARACTERISTICS <br>AND SPECS</h1>
      <div>
        <div data-collapse="small" data-animation="default" data-duration="400" class="navbar-2 w-nav">
          <div data-w-id="0cee0433-a917-795b-2335-cbc3ac40f4af" class="detail-selector tools"><a href="#" class="caract_nav w-nav-link">TOOLS</a><img src="/assets/arrow.svg" data-w-id="3cfa866d-6522-160b-2433-02bbf01c1599" class="image-7"></div>
          <div data-w-id="80436545-d6a9-03cc-51e1-6f4ac91ddcb4" class="detail-selector backup"><a href="#" class="caract_nav w-nav-link">BACK UP</a><img src="/assets/arrow.svg" data-w-id="9ab73bc3-a8c7-0a0e-9003-5fd34b23daa5" style="opacity:0.4" class="image-7"></div>
          <div data-w-id="544f33a3-0de0-8356-5e4a-d5f58f8106ca" class="detail-selector realtime"><a href="#" class="caract_nav w-nav-link">REAL TIME</a><img src="/assets/arrow.svg" data-w-id="ad21f4f5-45c1-0da8-7bc5-0cfc9dcde2d9" style="opacity:0.4" class="image-7"></div>
          <div data-w-id="63cc8b35-2edc-d1a9-df6d-f1f5f7ab2498" class="detail-selector authorities"><a href="#" class="caract_nav w-nav-link">AUTHORITIES</a><img src="/assets/arrow.svg" data-w-id="dcec51fd-c8b8-e27f-602a-864659598567" style="opacity:0.4" class="image-7"></div>
        </div>
      </div>
      <div>
        <div data-w-id="a2886d93-a7b7-ed16-632c-dae26c619428" class="details tools">
          <div class="subtitulo tools">FOREST GUARDIAN IS A TOOL</div>
          <div class="parrafo tools">Forest Guardian is a tool that pretends to satisfy the needs from the government entities that work in conservation areas that are susceptible to forest fires. However it can also be of high utility for plantation and land owners that wish to protect their resources.</div>
        </div>
        <div data-w-id="546d1391-ed0f-7aba-d025-e0858a9c4f1f" class="backup details">
          <div class="subtitulo tools">WITH THE BACKUP FROM THE REGIONAL PROGRAMM FOR CLIMATE CHANGE (PRCC) AND CLIMATE CENTER.</div>
          <div class="backup parrafo">Forest Guardian has access to all the sources of information used in Centro Clima, which are elaborated and managed by experts from all of Central America.</div>
        </div>
        <div data-w-id="bd342c6d-10bb-42df-206a-7528463be2d2" class="details realtime">
          <div class="subtitulo tools">REAL TIME UPDATE</div>
          <div class="parrafo realtime">Thanks to the MODIS sensor from NASA, we can get the information about forest fires with real time update from the data base. But also citizens can create alerts and share the information with the community and local authorities.</div>
        </div>
        <div data-w-id="cc2c17e6-0a1c-16ba-6872-56ca3035d5de" class="authorities details">
          <div class="subtitulo tools">COMMUNICATION</div>
          <div class="authorities parrafo">Forest Guardian puede ser un canal de comunicación con las autoridades competentes para el manejo y prevención de fuego para incendios forestales</div>
        </div>
      </div>
    </div>
    <div class="column-3 w-clearfix w-col w-col-5"><img src="/assets/reportes.png" class="image image2"></div>
  </div>
</div>
<div class="sectionpage3 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_three">AVAILABLE <br>FUNCTIONALITIES</h1>
      <div class="parrafo">Forest Guardian counts with different sources of information to generate forest fires alerts:</div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Shows heat points with information such as, intensity, temperature and surrounded area, among others.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Calculates the closest route to the active forest fire.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Calculates the probability of fire propagation.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Reports from users and citizens.</div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/ubicacion.png" class="image image3"></div>
  </div>
</div>
<div class="sectionpage4 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_three">AVAILABLE <br>INFORMATION</h1>
      <div class="parrafo">Forest Guardian counts with different sources of information to generate forest fires alerts:</div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Heat spots from the MODIS (NASA) heat sensor.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Wind Maps</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Land Forest Coverage</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Nearby water masses</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Forest Fire Vulnerability</div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/reportes.png" class="image image_4"></div>
  </div>
</div>
<div class="sectionpage5 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_four">TOP 25 WORLDWIDE - <br>SPACE APPS CHALLENGE</h1>
      <div class="div-block-2">
        <div style="padding-top:56.27659574468085%" class="w-embed w-video"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F125354129&dntp=1&url=https%3A%2F%2Fvimeo.com%2F125354129&image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F515426505_1280.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/Login.png" class="image image_5"></div>
  </div>
</div>
<div class="section-2">
  <div class="footer parrafo">Copyright 2017</div>
</div>

<script>
  // Makes the background to be in a fixed position.
  $('body').addClass('background');

  // Toggles the details view of a given selector switch
  function addToggleToTab(div_class_name){
      var selector_view = $(`div.detail-selector.${div_class_name}`);
      console.log(selector_view);
      selector_view.onclick = function (ev) {
          var detail_view = $(`div.details.${div_class_name}`);
          console.log(detail_view);
          if (detail_view.style.display === "none") {
              detail_view.style.display = "block";
          } else {
              detail_view.style.display = "none";
          }
      }
  }

  // Add toggles buttons.
  //TODO: Move this logic to a shared file.
  addToggleToTab('tools');
  addToggleToTab('backup');
  addToggleToTab('realtime');
  addToggleToTab('authorities');
</script>