<div class="sectionpage1 w-container">
  <div class="page page1 w-row">
    <div class="column-4 w-col w-col-8">
      <h1 class="centraltext heading">BIENVENIDOS A<br>GUARDIAN FORESTAL</h1>
      <div class="section"><a href="https://www.facebook.com/Forest-Guardian-819175931453658/" target="_blank" class="w-inline-block"><img src="/assets/facebook.png" width="25" height="25" class="image-3"></a><img src="/assets/email.png" width="25" height="25" class="image-4"><a href="https://play.google.com/store/apps/details?id=org.forestguardian&amp;hl=en" target="_blank" class="w-inline-block"><img src="/assets/playstore.png" width="121" class="image-5"></a></div>
      <div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático (PRCC).</div>
      <div class="section"><img src="/assets/USAID-Identity.svg" width="178" class="image_usaid"></div>
    </div>
    <div class="column-2 w-clearfix w-col w-col-4"><img src="/assets/mockup_1.png" class="image"></div>
  </div>
</div>
<div class="sectionpage2 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_two">SUS<br>CARACTERÍSTICAS</h1>
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav"><a href="#" class="caract_nav w-nav-link">HERRAMIENTAS</a><img src="/assets/arrow.svg" class="image-7"><a href="#" class="caract_nav w-nav-link">RESPALDO</a><img src="/assets/arrow.svg" class="image-7"><a href="#" class="caract_nav w-nav-link">TIEMPO REAL</a><img src="/assets/arrow.svg" class="image-7"><a href="#" class="caract_nav w-nav-link">AUTORIDADES</a><img src="/assets/arrow.svg" class="image-7"></div>
      <div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático (PRCC).</div>
    </div>
    <div class="column-3 w-clearfix w-col w-col-4"><img src="/assets/reportes.png" class="image image2"></div>
  </div>
</div>
<div class="sectionpage3 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_three">FUNCIONALIDADES <br>DISPONIBLES</h1>
      <div class="parrafo">Forest Guardian cuenta con diferentes fuentes de información para generar alertas de incendios:</div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Muestra puntos información de puntos de calor, como intensidad, temperatura, área entre otros.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Calculo de ruta más cercana hacia los incendios.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Probabilidad de propagación de fuego.</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="punto">
        <div class="parrafo subparrafo">Reporte de usuarios.</div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/ubicacion.png" class="image image3"></div>
  </div>
</div>
<div class="sectionpage4 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_three">INFORMACIÓN <br>DISPONIBLE</h1>
      <div class="parrafo">Forest Guardian cuenta con diferentes fuentes de información para generar alertas de incendios:</div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Puntos de calor del sensor MODIS (NASA)</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Mapa de Vientos</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Cobertura Forestal</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Cuerpos de Agua</div>
      </div>
      <div class="section"><img src="/assets/elipse.svg" class="image-8 punto">
        <div class="parrafo subparrafo">Vulnerabilidad de Incendios Forestales</div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/reportes.png" class="image image_4"></div>
  </div>
</div>
<div class="sectionpage5 w-container">
  <div class="page page2 w-row">
    <div class="column w-col w-col-8">
      <h1 class="centraltext heading section_four">TOP 25 A NIVEL MUNDIAL - <br>SPACE APPS CHALLENGE</h1>
      <div class="div-block-2">
        <div style="padding-top:56.27659574468085%;" class="w-embed w-video"><iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F125354129&dntp=1&url=https%3A%2F%2Fvimeo.com%2F125354129&image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F515426505_1280.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe></div>
      </div>
    </div>
    <div class="w-clearfix w-col w-col-4"><img src="/assets/Login.png" class="image image_5"></div>
  </div>
</div>
<div class="section-2">