<h1 class="centraltext heading">BIENVENIDOS A<br>GUARDIAN FORESTAL</h1>
<div class="section"><img src="assets/facebook.png" width="25" height="25" class="image-3"><img src="assets/email.png" width="25" height="25" class="image-4"><img src="assets/playstore.png" width="121" class="image-5"></div>
<div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático (PRCC).</div><img src="assets/mockup_1.png" class="image">
<div class="section"><img src="assets/USAID-Identity.svg" width="200"></div>
<h1 class="centraltext heading section_two">SUS<br>CARACTERÍSTICAS</h1>
<div class="section">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <div class="menubutton w-container"><a href="#" class="caract_nav w-nav-link">HERRAMIENTAS</a><img src="assets/arrow.svg" class="image-7"></div>
    <div class="menubutton w-container"><a href="#" class="caract_nav w-nav-link">RESPALDO</a><img src="assets/arrow.svg" class="image-7"></div>
    <div class="menubutton w-container"><a href="#" class="caract_nav w-nav-link">TIEMPO REAL</a><img src="assets/arrow.svg" class="image-7"></div>
    <div class="menubutton w-container"><a href="#" class="caract_nav w-nav-link">AUTORIDADES</a><img src="assets/arrow.svg" class="image-7"></div>
  </div>
</div>
<div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático (PRCC).</div><img src="/assets/reportes.png" class="image image_2">
<h1 class="centraltext heading section_three">FUNCIONALIDADES <br>DISPONIBLES</h1>
<div class="parrafo">Forest Guardian cuenta con diferentes fuentes de información para generar alertas de incendios:</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Muestra puntos información de puntos de calor, como intensidad, temperatura, área entre otros.</div>
</div>
<div class="section"><img src="/assets/elipse.svg">
  <div class="parrafo subparrafo">Calculo de ruta más cercana hacia los incendios.</div>
</div>
<div class="section"><img src="/assets/elipse.svg">
  <div class="parrafo subparrafo">Probabilidad de propagación de fuego.</div>
</div>
<div class="section"><img src="/assets/elipse.svg">
  <div class="parrafo subparrafo">Reporte de usuarios.</div>
</div><img src="/assets/ubicacion.png" class="image image_3">
<h1 class="centraltext heading section_three">INFORMACIÓN <br>DISPONIBLE</h1>
<div class="parrafo">Forest Guardian cuenta con diferentes fuentes de información para generar alertas de incendios:</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Puntos de calor del sensor MODIS (NASA)</div>
</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Mapa de Vientos</div>
</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Cobertura Forestal</div>
</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Cuerpos de Agua</div>
</div>
<div class="section"><img src="/assets/elipse.svg" class="image-8">
  <div class="parrafo subparrafo">Vulnerabilidad de Incendios Forestales</div>
</div><img src="/assets/reportes.png" class="image image_4">
<h1 class="centraltext heading section_four">INFORMACIÓN <br>DISPONIBLE</h1>
<div data-autoplay="true" data-loop="true" data-wf-ignore="true" id="https-vimeo.com-145097530" class="background-video w-background-video w-background-video-atom"><video autoplay="" loop="" data-wf-ignore="true"></video></div><img src="/assets/Login.png" class="image image_5">
<div class="section-2"></div>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->