<h1 class="centraltext heading">BIENVENIDOS A<br>GUARDIAN FORESTAL</h1>
<div class="section">
  <img src="assets/facebook.png" width="25" height="25" class="image-3"><img src="assets/email.png" width="25" height="25" class="image-4"><img src="assets/playstore.png" width="121" class="image-5">
</div>
<div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales
  en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático
  (PRCC).
</div><img src="assets/mockup_1.png" class="image">
<div class="section"><img src="assets/USAID-Identity.svg" width="200"></div>
<h1 class="centraltext heading section_two">SUS<br>CARACTERÍSTICAS</h1>
<div class="section">
  <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
    <a href="#" class="caract_nav w-nav-link">HERRAMIENTAS</a><a href="#" class="caract_nav w-nav-link">RESPALDO</a><a href="#" class="caract_nav w-nav-link">TIEMPO
    REAL</a><a href="#" class="caract_nav w-nav-link">AUTORIDADES</a></div>
</div>
<div class="parrafo">Forest Guardian es una herramienta creada para la detección y localización de incendios forestales
  en Centroamérica. Esta herramienta nace como objetivo de gestión de riesgos del Programa Regional de Cambio Climático
  (PRCC).
</div><img src="assets/perfil.png" class="image">