<%= javascript_include_tag  'maps' %>
<div id="container">
  <div id="windyty"></div>
  <div id="app-layers-switch">
    <table>
      <tr>
        <th>
          <input type="checkbox" name="rainCheckBox" id="rain" value="true">
          <label for="rain"></label>
        </th>
        <th class="app-layer-title">
          <b>Precipitation</b>
        </th>
      </tr>
      <tr>
        <th>
          <input type="checkbox" name="windCheckBox" id="wind" value="true" checked="checked">
          <label for="wind"></label>
        </th>
        <th class="app-layer-title">
          <b>Wind</b>
        </th>
      </tr>
      <tr>
        <th>
          <input type="checkbox" name="forestCheckBox" id="forest" value="true">
          <label for="forest"></label>
        </th>
        <th class="app-layer-title">
          <b>Forests Types</b>
        </th>
      </tr>
    </table>
  </div>
  <div id="app-zoom-controls">
    <input id="zoom-selector" type="range" onchange="map.setZoom(this.value)" min="2" max="18" step="1">
  </div>
</div>
<script async defer src="https://api.windytv.com/v2.3/boot.js"></script>
