<div class="div-block w-clearfix">
  <div data-collapse="tiny" data-animation="over-left" data-duration="400" data-doc-height="1" class="navbar w-nav">
    <div class="menu-button w-nav-button">
      <div class="icon w-hidden-main w-hidden-medium w-hidden-small w-icon-nav-menu"></div>
    </div>
    <a href="/" class="menu_text w-nav-link">VISUALIZACIÓN</a><a href="#" class="menu_text w-nav-link">NOSOTROS</a><a href="#" class="menu_text w-nav-link">CONTACTO</a>
  </div>
  <img src="assets/logo.svg" width="60" class="image-2">
</div>