<!--<div id="app-top-bar">-->
  <!--<div class="mdl-layout__header-row" style="padding: 80px 20px 20px;">-->
    <!--<img src="/assets/logo.svg" width="100px" height="100px" style="margin: 20px">-->
    <!--<nav class="mdl-navigation" style="padding-left: 0; height: auto; margin-left: 20px">-->
      <!--<a class="mdl-navigation__link" href="/">VISUALIZACIÓN</a>-->
      <!--<a class="mdl-navigation__link" href="/about">NOSOTROS</a>-->
      <!--<a class="mdl-navigation__link" href="/contact">CONTACTO</a>-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->

<!--<div id="app-top-bar">-->
  <!--<div data-collapse="tiny" data-animation="over-left" data-duration="400" data-doc-height="1" class="navbar w-nav">-->
    <!--<div class="menu-button w-nav-button">-->
      <!--<div class="icon w-hidden-main w-hidden-medium w-hidden-small w-icon-nav-menu"></div>-->
    <!--</div>-->
      <!--<a href="/" class="menu_text w-nav-link">VISUALIZACIÓN</a>-->
      <!--<a href="/about" class="menu_text w-nav-link">NOSOTROS</a>-->
      <!--<a href="/contact" class="menu_text w-nav-link">CONTACTO</a>-->
    <!--</div>-->
    <!--<img src="/assets/logo_normal.png" width="60" class="image-2">-->
  <!--</div>-->
<!--</div>-->


<script>
    $(document).ready(function (){
      $("a.mdl-navigation__link").each(function(){
          if ($(this).attr("href") === window.location.pathname){
              $(this).addClass("mdl-navigation__link-activated");
          }
      });
    })
</script>