<div id="app-top-bar">
  <div class="mdl-layout__header-row" style="padding: 80px 20px 20px;">
    <img src="/assets/logo.svg" width="100px" height="100px" style="margin: 20px">
    <nav class="mdl-navigation" style="padding-left: 0; height: auto; margin-left: 20px">
      <a class="mdl-navigation__link" href="/">VISUALIZACIÓN</a>
      <a class="mdl-navigation__link" href="/about">NOSOTROS</a>
      <a class="mdl-navigation__link" href="/contact">CONTACTO</a>
    </nav>
  </div>
</div>

<script>
    $(document).ready(function (){
      $("a.mdl-navigation__link").each(function(){
          if ($(this).attr("href") === window.location.pathname){
              $(this).addClass("mdl-navigation__link-activated");
          }
      });
  })
</script>